# Dependencies
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Docker
*.log
logs/

# Mac / Linux deploy
.env.mac
.env.linux
